<%- layout('layouts/boilerplate') %>
    <div class="container content-space-2 content-space-lg-3">
        <div class="w-lg-75 mx-lg-auto">
            <!-- Heading -->
            <div class="text-center mb-2">
                <h1 class="h2">
                    Package upload form
                </h1>


                <p class="mb-0">Please be very careful to enter accurate data. Inaccurate entry can cause packages to be
                    assigned to the wrong user, or cause shipping issues.</p>

            </div>
            <!-- End Heading -->

            <form action="/forwarder/upload" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>

                <div class="mb-5">
                    <h4 class="my-7">Package information</h4>

                    <div class="row">

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="name">Name on package (first & last)</label>
                               
                                    <input type="text" class="form-control form-control-lg" id="name"
                                        name="package[name]" required>


                            </div>
                            <!-- End Form -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="mailbox">Mailbox # (double check)</label>
                                <select class="form-select mb-2" id="mailbox" name="package[mailbox]" required>
                                    <% for (let client of addy.clients) { %> 
                                        <option value="<%= client.mailbox %>"><b><%= client.mailbox %></b> (<%= client.firstName %> <%= client.lastName %>)</option>
                                    <% } %> 
                                    
                                </select>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->


                    </div>
                    <!-- End Row -->

                    <div class="row">


                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="carrier">Carrier</label>
                                <select class="form-select mb-2" id="carrier" name="package[carrier]" required>
                                    <option value="USPS">USPS</option>
                                    <option value="UPS">UPS</option>
                                    <option value="FEDEX">FEDEX</option>
                                    <option value="DHL">DHL</option>
                                    <option value="ONTRAC">ONTRAC</option>
                                </select>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="tracking">Tracking number</label>

                                <input type="text" class="form-control" name="package[tracking]" id="tracking" required>
                                <div class="invalid-feedback">Required</div>
                                <div class="valid-feedback">Looks good</div>                                
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label class="form-label" for="lbs">Weight (lbs) </label>

                                        <input type="text" class="form-control form-control-lg" id="lbs"
                                            name="package[lbs]" required>
                                    </div>
                                    <!-- End Form -->
                                </div>
                                <!-- End Col -->
                                <div class="col-sm-6">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label class="form-label" for="oz">Weight (oz)
                                        </label>
                                        <input type="text" class="form-control form-control-lg" name="package[oz]"
                                            id="oz" required>
                                        <span class="invalid-feedback">Required</span>
                                    </div>
                                    <!-- End Form -->
                                    <!-- End Form -->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label class="form-label" for="length">Length (in) </label>

                                        <input type="text" class="form-control form-control-lg" id="length"
                                            name="package[length]" required>
                                    </div>
                                    <!-- End Form -->
                                </div>
                                <!-- End Col -->
                                <div class="col-sm-4">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label class="form-label" for="width">Width (in)
                                        </label>
                                        <input type="text" class="form-control form-control-lg" name="package[width]"
                                            id="width" required>
                                        <span class="invalid-feedback">Required</span>
                                    </div>
                                    <!-- End Form -->
                                    <!-- End Form -->
                                </div>

                                <div class="col-sm-4">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label class="form-label" for="height">Height (in)
                                        </label>
                                        <input type="text" class="form-control form-control-lg" name="package[height]"
                                            id="height" required>
                                        <span class="invalid-feedback">Required</span>
                                        <!-- <div class="text-center">
                                          <a href='/clientform' class="card-text small">Need invite code? Get one here</a>
                                        </div> -->
                                    </div>
                                    <!-- End Form -->
                                    <!-- End Form -->
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- <h4 class="my-7">Package type</h4> -->

                    <!-- <div class="row gx-3">
                        <div class="col-6 mb-3">

                            <div class="form-check form-check-card text-center">
                                <input class="form-check-input" type="radio" name="subscription" id="box">
                                <label class="form-check-label" for="box">
                                    <div class="card-header text-center">
                                        <div class="mb-2">
                                            <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold">Box</span>
                                        </div>

                                        <p class="card-text">Packages and large padded envelopes</p>
                                    </div>
                                </label>

                            </div>

                        </div>


                        <div class="col-6 mb-3">

                            <div class="form-check form-check-card text-center">
                                <input class="form-check-input" type="radio" name="subscription" id="envelope">
                                <label class="form-check-label" for="envelope">
                                    <div class="card-header text-center">
                                        <div class="mb-2">
                                            <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold">Envelope</span>
                                        </div>

                                        <p class="card-text">Letters, envelopes, and small padded envelopes</p>
                                    </div>
                                </label>

                            </div>

                        </div>

                    </div> -->


                    <h4 class="my-7">Sender information</h4>

                    <div class="row">

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="senderName">Sender name</label>
                               
                                    <input type="text" class="form-control form-control-lg" id="senderName"
                                        name="package[shipper]" required>


                            </div>
                            <!-- End Form -->
                        </div>
                    


                    </div>





                    <h4 class="my-7">Upload photos</h4>



                    <div class="row">
                        <div class="col mb-3">


                            <label class="form-label">Package photo</label>




                            <!-- <div id="idImage" class="js-dropzone dz-dropzone dz-dropzone-card">
                                <div class="dz-message">
                                    <img class="avatar mb-3" src="/public/assets/svg/illustrations/add-file.svg"
                                        alt="SVG">
                                    <span class="d-block">Upload image(s) of box</span>
                                    <span class="d-block text-muted small">Make sure that the shipping label is
                                        visible</span>
                                </div>
                            </div> -->

                            
                            <input class="form-control" type="file" id="photo" name="image" multiple>

                        </div>


                    </div>

                    <div class="row">
                        <!-- Check -->
                        <div class="form-check my-3">
                            <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheckEg1"
                                name="signupFormPrivacyCheck" required>
                            <label class="form-check-label small" for="signupHeroFormPrivacyCheckEg1">I affirm that the
                                above information is accurate. I have read and
                                accept the <a href='/terms'>Terms of Service</a>, <a href='/privacy'>Privacy
                                    Policy</a>, and <a href="/disclaimer">Disclaimer</a>. I understand Addys has strict
                                policies to ensure platorm security and will prosecute any instances of theft.</label>
                            <span class="invalid-feedback">You must accept</span>
                        </div>
                        <!-- End Check -->
                    </div>
                </div>
                <!-- End Row -->

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Form -->