<%- layout('layouts/boilerplate') %>

<!-- Form -->
<div class="container content-space-2 content-space-lg-3 mt-5">
    <%- include('../partials/flash') %>

    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
      <!-- Heading -->
      <div class="text-center mb-5 mb-md-7">
        <p>Your new address</p>
        <% if (addy) { %> 
        <h1 class="h2"><%= addy.address1 %></h1>
        <h1 class="h2"><%= addy.city %>, <%= addy.state %></h1>
        <% } %> 
      </div>
      <!-- End Heading -->
  
      <!-- Form -->
      <form action="/register" method="post" class="js-validate needs-validation" novalidate>

        <input name='addy' type='hidden' value='<%= addy._id %>'>


         <!-- Form -->
         <div class="mb-3">
          <label class="form-label" for="username">Your username</label>
          <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="Has to be unique" aria-label="username" required>
          <span class="invalid-feedback">Please enter a valid username.</span>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="signupSimpleSignupEmail">Your email</label>
          <input type="email" class="form-control form-control-lg" name="email" id="signupSimpleSignupEmail" placeholder="We won't spam" aria-label="email@site.com" required>
          <span class="invalid-feedback">Please enter a valid email address.</span>
        </div>
        <!-- End Form -->
        
  
        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="signupSimpleSignupPassword">Password</label>
  
          <div class="input-group input-group-merge" data-hs-validation-validate-class>
            <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSimpleSignupPassword" placeholder="8+ characters required" aria-label="8+ characters required" required
                    data-hs-toggle-password-options='{
                       "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                       "defaultClass": "bi-eye",
                       "showClass": "bi-eye-slash",
                       "classChangeTarget": ".js-toggle-passowrd-show-icon-1"
                     }'>
            <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:;">
              <i class="js-toggle-passowrd-show-icon-1 bi-eye"></i>
            </a>
          </div>
  
          <span class="invalid-feedback">Your password is invalid. Please try again.</span>
        </div>
        <!-- End Form -->
  
        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="signupSimpleSignupConfirmPassword">Confirm password</label>
  
          <div class="input-group input-group-merge" data-hs-validation-validate-class>
            <input type="password" class="js-toggle-password form-control form-control-lg" name="confirmPassword" id="signupSimpleSignupConfirmPassword" placeholder="8+ characters required" aria-label="8+ characters required" required
                   data-hs-validation-equal-field="#signupSimpleSignupPassword"
                    data-hs-toggle-password-options='{
                     "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                     "defaultClass": "bi-eye",
                     "showClass": "bi-eye-slash",
                     "classChangeTarget": ".js-toggle-passowrd-show-icon-2"
                   }'>
             <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:;">
              <i class="js-toggle-passowrd-show-icon-2 bi-eye"></i>
            </a>
          </div>
  
          <span class="invalid-feedback">Passwords don't match.</span>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="invite">Invite code</label>
          <input type="text" class="form-control form-control-lg" name="invite" id="invite" placeholder="Unique" aria-label="email@site.com" required>
          <span class="invalid-feedback">Required</span>
          <div class="text-center mb-2">
            <a href='/clientform' class="card-text small">Need invite code? Get one here</a>
          </div>
        </div>
        <!-- End Form -->
  
        <!-- Check -->
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheckEg1" name="signupFormPrivacyCheck" required>
          <label class="form-check-label small" for="signupHeroFormPrivacyCheckEg1">I have read and accept the <a href='/terms'>Terms of Service</a> and <a href='/privacy'>Privacy Policy</a></label>
          <span class="invalid-feedback">Please accept our Terms and Privacy Policy.</span>
        </div>
        <!-- End Check -->
  
        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
        </div>
  
        <div class="text-center">
          <p>Already have an account? <a class="link" href="/login">Log in here</a></p>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
  <!-- End Form -->