              <!-- Card -->
              <div class="card card-bordered ">
                <div class="card-body">
                  <!-- Media -->
                  <div class="d-sm-flex">
                    <!-- Media -->                
                    <div class="flex-grow-1">
                      <div class="row">
                        <div class="col col-md-8">
                          <div class="mb-2">
                            <a class="link-sm link-secondary" href="#">Shipper</a>
                          </div>
                          <h3 class="card-title"><%= p.shipper %> 
                          </h3>
                          <div class="mt-3">
                            <h6 class="card-title">Inbound: <%= p.carrier %>: <%= p.tracking %> 
                            </h6>
                            <% if (p.status != 'NEW') {%> 
                            <h6 class="card-title">Outbound: <%= p.tracking_number %> 
                            </h6>
                            <% } %> 
                          </div>
                        </div>
                        <!-- End Col -->
  
  
                        <div class="col-12 col-md mt-3 mt-md-0">
  
                            <% if (p.status =='NEW') { %> 
                                <span class="badge bg-soft-success text-success me-2 mb-2">
                                    <span class="legend-indicator bg-success"></span>Ready to forward
                                </span>
                            <% } else if (p.status == 'PENDING') { %> 
                                <span class="badge bg-soft-warning text-warning me-2 mb-2">
                                    <span class="legend-indicator bg-warning"></span>Awaiting drop off
                                </span>
                            <% } else if (p.status == 'FORWARDED') { %> 
                                <span class="badge bg-soft-info text-info me-2 mb-2">
                                    <span class="legend-indicator bg-info"></span>Shipped
                                </span>
                            <% } %> 
                
                          
                          <div class="d-flex gap-2 mt-1">
                            <!-- <form action="/sendemail" method="post">
                              <input type="hidden" name="id" value="<%= p._id  %>">
                              <button type="submit" href="/client/inbox/<%= p._id %>/forward/address" class="btn btn-outline-primary btn-sm btn-transition rounded-pill">send email</button>

                            </form> -->

                            <% if (p.status == 'NEW') { %> 
                            <a type="button" href="/client/inbox/<%= p._id %>/forward/address" class="btn btn-outline-primary btn-sm btn-transition rounded-pill">Forward</a>
                            <% } %> 
                            <% if (p.status != 'NEW') { %> 
                              <a type="button" href="<%= p.tracking_url_provider %>" class="btn btn-outline-primary btn-sm btn-transition rounded-pill">Track forward</a>
                              <% } %> 
                            <% if (p.images.length != 0) { %> 
                            <a type="button" class="btn btn-soft-secondary btn-sm btn-transition rounded-pill media-viewer"  href="<%= p.images[0].url %>" data-fslightbox="gallerye<%=p._id %>">
                              <i class="bi-image me-1"></i>Box
                            </a>
                            <% } %> 
                            <% if (p.receipts.length != 0) { %> 
                                <a type="button" class="btn btn-soft-secondary btn-sm btn-transition rounded-pill media-viewer"  href="<%= p.receipts[0].url %>" data-fslightbox="gallerye<%=p._id %>">
                                  <i class="bi-image me-1"></i>Receipts
                                </a>
                                <% } %> 
                               




                          </div>
                          <!-- <button type="button" class="d-block btn btn-outline-primary btn-sm btn-transition rounded-pill">Forward</button> -->
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Media -->
                </div>
  
                <div class="card-footer pt-0">
                  <ul class="list-inline list-separator small text-body">
                    <li class="list-inline-item"><%= p.lbs %> lbs <%= p.oz %> oz </li>
                    <li class="list-inline-item">L: <%= p.length %> / W: <%= p.width %> / H: <%= p.height %></li>
                    <li class="list-inline-item">Uploaded <%= p.uploaded.getMonth() %> / <%= p.uploaded.getDate() %> </li>
                    <li class="list-inline-item">Name on box: <%= p.name %></li>
                  </ul>
                  
                </div>
              </div>
              <!-- End Card -->