<%- include('../../partials/head') %>
<%- include('../../partials/navbar_user') %> 

<div class="content-space-t-2">
  <!-- Breadcrumb -->
  <div class="navbar-dark bg-dark" style="background-image: url(/public/assets/svg/components/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-3">
      <div class="row align-items-center">
        <div class="col">
          <div class="d-none d-lg-block">
            <h1 class="h2 text-white">Notifications</h1>
          </div>

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light mb-0">
              <li class="breadcrumb-item">Account</li>
              <li class="breadcrumb-item active" aria-current="page">Notifications</li>
            </ol>
          </nav>
          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->

        <div class="col-auto">


          <!-- Responsive Toggle Button -->
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-default">
              <i class="bi-list"></i>
            </span>
            <span class="navbar-toggler-toggled">
              <i class="bi-x"></i>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Content Section -->
  <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
    <div class="row">
      <div class="col-lg-3">
        <!-- Navbar -->
        <div class="navbar-expand-lg navbar-light">
          <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
            <!-- Card -->
            <div class="card flex-grow-1 mb-5">
              <div class="card-body">
                <!-- Avatar -->
                <div class="d-none d-lg-block text-center mb-5">
                  <h4 class="card-title mb-0"><%= user.username %> </h4>
                  <p class="card-text small"><%= user.email %> </p>
                </div>
                <!-- End Avatar -->
                <!-- Nav -->
                <span class="text-cap">Account</span>

                <!-- List -->
                <ul class="nav nav-sm nav-tabs nav-vertical mb-4">
                  <li class="nav-item">
                    <a class="nav-link " href="/user/account/personal">
                      <i class="bi-person-badge nav-icon"></i> Personal info
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/user/account/security">
                      <i class="bi-shield-shaded nav-icon"></i> Security
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/user/account/notifications">
                      <i class="bi-bell nav-icon"></i> Notifications
                    </a>
                  </li>

                </ul>
                <!-- End List -->


                <span class="text-cap">Billing</span>

                <!-- List -->
                <ul class="nav nav-sm nav-tabs nav-vertical">
                  <li class="nav-item">
                    <a class="nav-link " href="/user/account/payments">
                      <i class="bi-credit-card nav-icon"></i> Payments
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/user/account/addresses">
                      <i class="bi-geo-alt nav-icon"></i> Addresses
                    </a>
                  </li>
                </ul>
                <!-- End List -->

              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Navbar -->
      </div>
      <!-- End Col -->

      <div class="col-lg-9">
        <div class="d-grid gap-3 gap-lg-5">
          <!-- Card -->
          <div class="card card-sm">
            <!-- Header -->
            <div class="card-header d-flex justify-content-between align-items-center border-bottom">
              <h5 class="card-header-title">Email</h5>

              <a id="toggleAll1" class="js-toggle-state btn btn-white btn-sm btn-toggle" href="javascript:;" data-hs-toggle-state-options="{
                   &quot;targetSelector&quot;: &quot;#accountNotificationSwitch1, #accountNotificationSwitch2, #accountNotificationSwitch3, #accountNotificationSwitch4&quot;
                 }" data-hs-toggle-state-slave="null">
                <span class="btn-toggle-default">Toggle all</span>
                <span class="btn-toggle-toggled">Untoggle all</span>
              </a>
            </div>
            <!-- End Header -->



            <div class="card-body">
              <small class="card-subtitle">Send me:</small>

              <!-- List Group -->
              <div class="list-group list-group-flush list-group-no-gutters">


                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch2">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch2" checked="">
                    <span class="d-block">Account activity <span class="badge bg-success ms-1">Important</span></span>
                    <span class="d-block small text-muted">Get security notifications about your account</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch1">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch1">
                    <span class="d-block">New packages</span>
                    <span class="d-block small text-muted">Get an email for any new packages</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->


                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch3">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch3" checked="">
                    <span class="d-block">Packages forwarded 
                    <span class="d-block small text-muted">Get an email when a pending package gets forwarded</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch4">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch4">
                    <span class="d-block">Packages delivered</span>
                    <span class="d-block small text-muted">Get an email when your package is delivered</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->
              </div>
              <!-- End List Group -->
            </div>
          </div>
          <!-- End Card -->

          <!-- Card -->
          <div class="card card-sm">
            <!-- Header -->
            <div class="card-header d-flex justify-content-between align-items-center border-bottom">
              <h5 class="card-header-title">Text</h5>

              <a id="toggleAll3" class="js-toggle-state btn btn-white btn-sm btn-toggle" href="javascript:;" data-hs-toggle-state-options="{
                   &quot;targetSelector&quot;: &quot;#accountNotificationSwitch5, #accountNotificationSwitch6, #accountNotificationSwitch7, #accountNotificationSwitch8&quot;
                 }" data-hs-toggle-state-slave="null">
                <span class="btn-toggle-default">Toggle all</span>
                <span class="btn-toggle-toggled">Untoggle all</span>
              </a>
            </div>
            <!-- End Header -->

            <div class="card-body">
              <small class="card-subtitle">Message me:</small>

              <!-- List Group -->
              <div class="list-group list-group-flush list-group-no-gutters">


                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch2">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch2" checked="">
                    <span class="d-block">Account activity <span class="badge bg-success ms-1">Important</span></span>
                    <span class="d-block small text-muted">Get security notifications about your account</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->
                
                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch1">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch1">
                    <span class="d-block">New packages</span>
                    <span class="d-block small text-muted">Get a text for any new packages</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->


                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch3">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch3" checked="">
                    <span class="d-block">Packages forwarded 
                    <span class="d-block small text-muted">Get a text when a pending package gets forwarded</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="list-group-item">
                  <!-- Form Switch -->
                  <label class="form-check form-switch" for="accountNotificationSwitch4">
                    <input class="form-check-input mt-0" type="checkbox" id="accountNotificationSwitch4">
                    <span class="d-block">Packages delivered</span>
                    <span class="d-block small text-muted">Get a text when your package is delivered</span>
                  </label>
                  <!-- End Form Switch -->
                </div>
                <!-- End Item -->
              </div>
              <!-- End List Group -->
            </div>
          </div>
          <!-- End Card -->



          <!-- Toggle Button -->
          <div class="d-sm-flex justify-content-between align-items-center">
            <div class="mb-3 mb-sm-0">
              <small class="card-subtitle">Turn all notifications on or off:</small>
            </div>

            <a class="js-toggle-state btn btn-primary btn-sm btn-toggle" href="javascript:;" data-hs-toggle-state-options="{
                 &quot;targetSelector&quot;: &quot;#accountNotificationSwitch1, #accountNotificationSwitch2, #accountNotificationSwitch3, #accountNotificationSwitch4, #accountNotificationSwitch5, #accountNotificationSwitch6, #accountNotificationSwitch7, #accountNotificationSwitch8, #accountNotificationSwitch9, #accountNotificationSwitch10, #accountNotificationSwitch11&quot;,
                 &quot;slaveSelector&quot;: &quot;#toggleAll1, #toggleAll2, #toggleAll3, #toggleAll4&quot;
               }" data-hs-toggle-state-slave="#toggleAll1, #toggleAll2, #toggleAll3, #toggleAll4">
              <span class="btn-toggle-default">
                <i class="bi-toggle-off me-1"></i> Turn OFF
              </span>
              <span class="btn-toggle-toggled">
                <i class="bi-toggle-on me-1"></i> Turn ON
              </span>
            </a>
          </div>
          <!-- End Toggle Button -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</div>

  <%- include('../../partials/foot') %>