<%- layout('layouts/boilerplate') %>
    <div class="container content-space-2 content-space-lg-3">
        <div class="w-lg-75 mx-lg-auto">
    <%- include('../../partials/flash') %>

            <!-- Heading -->
            <div class="text-center mb-2">
                <span class="text-cap">Your new address</span>
                <h1 class="h2">
                    <%= addy.street1 %>
                </h1>
                <h1 class="h2">
                    <%= addy.city %>, <%= addy.state %>
                </h1>

                <p class="mb-0">Complete form to get your mailbox number. All fields are required.</p>

            </div>
            <!-- End Heading -->

            <form action="/register" method="post" class="js-validate needs-validation" novalidate>
                <input name='addy' type='hidden' value='<%= addy._id %>'>

                <div class="mb-5">
                    <h4 class="my-7">Account & personal information</h4>

                    <div class="row">

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="firstName">First name</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-person-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="firstName"
                                        name="firstName" placeholder="Virgil" aria-label="First name" required>

                                </div>

                            </div>
                            <!-- End Form -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="lastName">Last name</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-person-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="lastName"
                                        name="lastName" placeholder="Abloh" aria-label="Last name" required>
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->


                    </div>
                    <!-- End Row -->

                    <div class="row">


                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="email">Your email</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-globe2"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="email" name="email"
                                        placeholder="name@example.com" aria-label="name@example.com">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="phone">Phone number</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-telephone-inbound-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="phone" name="phone"
                                        placeholder="Only numbers">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="username">Username</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-person-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="username"
                                        name="username" placeholder="RIPKing" aria-label="Real estate agency">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->


                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="invite">Invite code
                                    <a href='/clientform' class="card-text small">Don't have one? Click here</a>

                                </label>
                                <input type="text" class="form-control form-control-lg" name="invite" id="invite"
                                    placeholder="Unique" aria-label="email@site.com" required>
                                <span class="invalid-feedback">Required</span>
                                <!-- <div class="text-center">
                                  <a href='/clientform' class="card-text small">Need invite code? Get one here</a>
                                </div> -->
                            </div>
                            <!-- End Form -->
                            <!-- End Form -->
                        </div>



                    </div>
                    <!-- End Row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="signupSimpleSignupPassword">Password</label>

                                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                                    <input type="password" class="js-toggle-password form-control form-control-lg"
                                        name="password" id="signupSimpleSignupPassword"
                                        placeholder="8+ characters required" aria-label="8+ characters required"
                                        required data-hs-toggle-password-options='{
                                             "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                                             "defaultClass": "bi-eye",
                                             "showClass": "bi-eye-slash",
                                             "classChangeTarget": ".js-toggle-passowrd-show-icon-1"
                                           }'  minlength="8">
                                    <a class="js-toggle-password-target-1 input-group-append input-group-text"
                                        href="javascript:;">
                                        <i class="js-toggle-passowrd-show-icon-1 bi-eye"></i>
                                    </a>
                                </div>

                                <span class="invalid-feedback">Your password is too short</span>
                            </div>
                            <!-- End Form -->
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="signupSimpleSignupConfirmPassword">Confirm
                                    password</label>

                                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                                    <input type="password" class="js-toggle-password form-control form-control-lg"
                                        name="confirmPassword" id="signupSimpleSignupConfirmPassword"
                                        placeholder="8+ characters required" aria-label="8+ characters required"
                                        required data-hs-validation-equal-field="#signupSimpleSignupPassword"
                                        data-hs-toggle-password-options='{
                                           "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                                           "defaultClass": "bi-eye",
                                           "showClass": "bi-eye-slash",
                                           "classChangeTarget": ".js-toggle-passowrd-show-icon-2"
                                         }'  minlength="8">
                                    <a class="js-toggle-password-target-2 input-group-append input-group-text"
                                        href="javascript:;">
                                        <i class="js-toggle-passowrd-show-icon-2 bi-eye"></i>
                                    </a>
                                </div>

                                <span class="invalid-feedback">Passwords don't match.</span>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                    </div>

                    <!-- <h4 class="my-7">Your subscription</h4>

                    <div class="row gx-3">
                        <div class="col-6 col-md-4 mb-3">
                            <div class="form-check form-check-card text-center">
                                <input class="form-check-input" type="radio" name="subscription" id="basic">
                                <label class="form-check-label" for="basic">
                                    <div class="card-header text-center">
                                        <div class="mb-2">
                                            <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                                            <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold"
                                                data-hs-toggle-switch-item-options="{
                                   &quot;min&quot;: 29,
                                   &quot;max&quot;: 19
                                 }">15</span>
                                            <span>/mo</span>
                                        </div>

                                        <h3 class="card-title">Basic</h3>
                                        <p class="card-text">Up to 10 forwards per month</p>
                                    </div>
                                </label>

                            </div>
                        </div>

                        <div class="col-6 col-md-4 mb-3">
                            <div class="form-check form-check-card text-center">
                                <input class="form-check-input" type="radio" name="subscription" id="plus" checked>
                                <label class="form-check-label" for="plus">
                                    <div class="card-header text-center">
                                        <div class="mb-2">
                                            <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                                            <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold"
                                                data-hs-toggle-switch-item-options="{
                                   &quot;min&quot;: 29,
                                   &quot;max&quot;: 19
                                 }">25</span>
                                            <span>/mo</span>
                                        </div>

                                        <h3 class="card-title">Plus</h3>
                                        <p class="card-text">Up to 25 forwards per month</p>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 mb-3">
                            <div class="form-check form-check-card text-center">
                                <input class="form-check-input" type="radio" name="subscription" id="max">
                                <label class="form-check-label" for="max">
                                    <div class="card-header text-center">
                                        <div class="mb-2">
                                            <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                                            <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold"
                                                data-hs-toggle-switch-item-options="{
                                   &quot;min&quot;: 29,
                                   &quot;max&quot;: 19
                                 }">45</span>
                                            <span>/mo</span>
                                        </div>

                                        <h3 class="card-title">Max</h3>
                                        <p class="card-text">Unlimited forwards per month</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div> -->


                    <h4 class="my-7">Payment information</h4>

                    <div class="row">


                    


                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="cardNumber">Card number</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-credit-card-fill"></i>
                                    </span>
                                    <input type="text" class="js-input-mask form-control" name="cardNumber"
                                        id="cardNumber" placeholder="xxxx xxxx xxxx xxxx"
                                        aria-label="xxxx xxxx xxxx xxxx" "mask" : "0000 0000 0000 0000" }'>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="expiration">Expiration</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <span class="svg-icon svg-icon-xs svg-inline text-muted me-1">
                                            <i class="bi-calendar-date-fill"></i>
                                        </span>
                                    </span>
                                    <input type="text" class="js-input-mask form-control" name="cardExp"
                                        id="expiration" placeholder="MMYY" aria-label="xx/xxxx" data-hs-mask-options="{
                    &quot;mask&quot;: &quot;00/0000&quot;
                  }">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->


                    </div>
                    <!-- End Row -->

                    <div class="row">
                       

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="cvv">CVV</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-credit-card-2-back-fill"></i>
                                    </span>
                                    <input type="text" class="js-input-mask form-control" name="cvv" id="cvv"
                                        placeholder="xxx" aria-label="xxx" data-hs-mask-options="{
                    &quot;mask&quot;: &quot;000&quot;
                  }">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <h4 class="my-7">Billing address</h4>

                    <div class="row">

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="billingFirstName">First name</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-person-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="billingFirstName" name="billingFirstName" placeholder="Virgil" aria-label="First name" required="">

                                </div>

                            </div>
                            <!-- End Form -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="billingLastName">Last name</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-person-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="billingLastName" name="billingLastName" placeholder="Abloh" aria-label="Last name" required="">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->


                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="street1">Street line 1</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-geo-alt-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="street1" name="street1"
                                        placeholder="123 Main St" aria-label="Address">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="street2">Street line 2</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-geo-alt-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="street2" name="street2"
                                        placeholder="Apt 5" aria-label="Address">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="city">City</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-building"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" id="city" name="city"
                                        placeholder="LA" aria-label="City/Province">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>

                        <div class="col-sm-4">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="state">State</label>
                                <div class="tom-select-custom">
                                    <select class="js-select form-select" id="state" name="state" autocomplete="off"
                                        data-hs-tom-select-options='{
                            "placeholder": "Select a person...",
                            "hideSearch": true
                          }'>
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option selected value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>

                        <div class="col-sm-4">
                            <!-- Form -->
                            <div class="mb-4">
                                <label class="form-label" for="zip">Postal code</label>

                                <div class="input-group input-group-merge">
                                    <span class="input-group-prepend input-group-text">
                                        <i class="bi-envelope-open-fill"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" name="zip" id="zip"
                                        placeholder="10001" aria-label="Postal code">
                                </div>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>








<!-- 
                    <h4 class="my-7 mb-0">Upload required documents</h4>

                    <div class="mb-7"><a class="card-text small" href="https://about.usps.com/forms/ps1583.pdf">Need a
                            1583 form? Click here</a></div>

                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">Personal ID</label>

                            <div id="idImage" class="js-dropzone dz-dropzone dz-dropzone-card">
                                <div class="dz-message">
                                    <img class="avatar mb-3" src="/public/assets/svg/illustrations/add-file.svg"
                                        alt="SVG">
                                    <span class="d-block">Upload any state or national ID</span>
                                    <span class="d-block text-muted small">Maximum file size is 2MB</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <label class="form-label">USPS 1583</label>

                            <div id="1583" class="js-dropzone dz-dropzone dz-dropzone-card">
                                <div class="dz-message">
                                    <img class="avatar mb-3" src="/public/assets/svg/illustrations/add-file.svg"
                                        alt="SVG">
                                    <span class="d-block">Upload USPS 1583 form</span>
                                    <span class="d-block text-muted small">Maximum file size is 1MB</span>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="form-check my-3">
                            <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheckEg1"
                                name="signupFormPrivacyCheck" required>
                            <label class="form-check-label small" for="signupHeroFormPrivacyCheckEg1">I have read and
                                accept the <a href='/terms'>Terms of Service</a>, <a href='/privacy'>Privacy
                                    Policy</a>, and <a href="/disclaimer">Disclaimer</a>. I understand Addys has strict policies to ensure platorm reliability and a zero tolerance policy for service misuse.</label>
                            <span class="invalid-feedback">You must accept</span>
                        </div>
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Form -->