<%- include('../../partials/head') %>
<%- include('../../partials/navbar_user') %> 

<div class="container content-space-b-2 content-space-b-lg-3 content-space-t-2 content-space-md-3">
  <div class="border-top border-bottom">
    <div class="container py-3">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/user/inbox"><%= user.addy.address1 %>, #<%= user.mailbox %></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Forward: <%= user.pkg.shipper %></li>
        </ol>
      </nav>
      <!-- End Breadcrumb -->
    </div>
  </div>


  <!-- Content -->
<div class="container content-space-t-lg-2">
    <!-- Step Form -->
    <form class="js-step-form"
          data-hs-step-form-options='{
            "progressSelector": "#fwFormProgress",
            "stepsSelector": "#fwFormContent",
            "endSelector": "#postJobFinishBtn",
            "isValidate": false
          }' action="/user/inbox/<%=user.pkg._id%>/forward" method="post">
          <div class="row">
        <div class="col-lg-4">
          <!-- Sticky Block -->
          <div id="stickyBlockStartPointEg2">
            <div class="js-sticky-block"
                 data-hs-sticky-block-options='{
                   "parentSelector": "#stickyBlockStartPointEg2",
                   "breakpoint": "lg",
                   "startPoint": "#stickyBlockStartPointEg2",
                   "endPoint": "#stickyBlockEndPointEg2",
                   "stickyOffsetTop": 20,
                   "stickyOffsetBottom": 0
                 }'>
              <!-- Step -->
              <ul id="fwFormProgress" class="js-step-progress step step-icon-xs step-border-last-0 mt-5">
                <li class="step-item">
                  <a class="step-content-wrapper"  href="/user/inbox/<%= user.pkg._id %>/forward/address"
                     data-hs-step-form-next-options='{
                      "targetSelector": "#fwFormStepAddress"
                    }'>
                    <span class="step-icon step-icon-soft-dark">1</span>
                    <div class="step-content">
                      <span class="step-title">Choose address</span>
                      <span class="step-title-description step-text">Specify where to forward</span>
                    </div>
                  </a>
                </li>
  
                <li class="step-item">
                  <a class="step-content-wrapper"  href="/user/inbox/<%= user.pkg._id %>/forward/shipping"
                     data-hs-step-form-next-options='{
                      "targetSelector": "#fwFormStepShipping"
                    }'>
                    <span class="step-icon step-icon-soft-dark">2</span>
                    <div class="step-content">
                      <span class="step-title">Shipping</span>
                      <span class="step-title-description step-text">Choose shipping service</span>
                    </div>
                  </a>
                </li>
  
                <li class="step-item">
                  <a class="step-content-wrapper"  href="/user/inbox/<%= user.pkg._id %>/forward/payment"
                     data-hs-step-form-next-options='{
                      "targetSelector": "#fwFormStepPayment"
                    }'>
                    <span class="step-icon step-icon-soft-dark">3</span>
                    <div class="step-content">
                      <span class="step-title">Payment</span>
                      <span class="step-title-description step-text">Choose your payment method</span>
                    </div>
                  </a>
                </li>
    


  
                <li class="step-item active focus">
                  <a class="step-content-wrapper" href="#"
                     data-hs-step-form-next-options='{
                      "targetSelector": "#fwFormStepOverview"
                    }'>
                    <span class="step-icon step-icon-soft-dark">4</span>
                    <div class="step-content">
                      <span class="step-title">Overview</span>
                      <span class="step-title-description step-text">Confirm your forward</span>
                    </div>
                  </a>
                </li>
              </ul>
              <!-- End Step -->
            </div>
          </div>
          <!-- End Sticky Block -->
        </div>
        <!-- End Col -->


      <div class="col-lg-8">
        <div id="fwFormStepAddress" class="card active">

          <div class="card-header bg-img-start" style="background-image: url(/public/assets/svg/components/card-1.svg);">
            <div class="flex-grow-1">
              <span class="d-lg-none">Step 4 of 4</span>
              <h3 class="card-header-title">Forward overview</h3>
            </div>
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">

            <div class="row justify-content-md-between">
                <div class="col-md-5">
                  <dl class="row">
                    <dt class="col-6">Carrier:</dt>
                    <dd class="col-6">HG328e91UA</dd>

                    <dt class="col-6">Service</dt>
                    <dd class="col-6">House</dd>

                    <dt class="col-6">Cost:</dt>
                    <dd class="col-6">$10</dd>
                  </dl>
                  <!-- End Row -->
                </div>
                <!-- End Col -->

                <div class="col-md-5">
                  <dl class="row">
                    <dt class="col-6">Package:</dt>
                    <dd class="col-6">Amazon</dd>

                    <dt class="col-6">Weight:</dt>
                    <dd class="col-6">12 lbs</dd>

                    <dt class="col-6">Est days:</dt>
                    <dd class="col-6">2</dd>
                  </dl>
                  <!-- End Row -->
                </div>
                <!-- End Col -->
              </div>
            
          </div>
          <!-- End Body -->

          <!-- Footer -->
          <div class="card-footer pt-0">
            <div class="d-flex align-items-center">
              <a type="button" class="btn btn-ghost-secondary" href="/user/inbox/<%= user.pkg._id %>/forward/payment">
                <i class="bi-chevron-left small ms-1"></i> Previous step
              </a>

              <div class="ms-auto">
                <a type="button" class="btn btn-primary" href="#">
                  Forward <i class="bi-forward ms-1"></i>
                </a>
                <!-- <button  type="submit"  class="btn btn-primary">
                    Save and continue <i class="bi-chevron-right small ms-1"></i>
                  </button> -->
              </div>
            </div>
          </div>

        </div>
      </div>

        

        <!-- End Col -->
      </div>
      <!-- End Row -->
    </form>
    <!-- End Step Form -->
  </div>
  <!-- End Content -->



  </div>

  <!-- JS Implementing Plugins -->
<script src="/public/assets/js/hs-step-form.min.js"></script>
<script src="/public/assets/js/hs-sticky-block.min.js"></script>
<script src="/public/assets/js/imask.min.js"></script>
<script src="/public/assets/js/dropzone.min.js"></script>
<script src="/public/assets/js/quill.min.js"></script>
<script src="/public/assets/js/hs-count-characters.min.js"></script>

<!-- JS Front -->
<script src="/public/assets/js/hs.imask.js"></script>
<script src="/public/assets/js/hs.dropzone.js"></script>
<script src="/public/assets/js/hs.quill.js"></script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF STICKY BLOCKS
    // =======================================================
    new HSStickyBlock('.js-sticky-block', {
      targetSelector: document.getElementById('header').classList.contains('navbar-fixed') ? '#header' : null
    })


    // INITIALIZATION OF STEP FORM
    // =======================================================
    new HSStepForm('.js-step-form', {
        finish: () => {
          document.getElementById("fwFormProgress").style.display = 'none'
          document.getElementById("fwFormContent").style.display = 'none'
          document.getElementById("successMessageContent").style.display = 'block'
          scrollToTop('#header');
          const formContainerEg2 = document.getElementById('formContainerEg2')
          formContainerEg2.classList.remove('col-lg-8')
          formContainerEg2.classList.add('col-lg-12')
        },
        onNextStep: function () {
          scrollToTop()
        },
        onPrevStep: function () {
          scrollToTop()
        }
      })

    function scrollToTop(el = '.js-step-form') {
      el = document.querySelector(el)
      window.scrollTo({
        top: (el.getBoundingClientRect().top + window.scrollY) - 30,
        left: 0,
        behavior: 'smooth'
      })
    }


    // INITIALIZATION OF INPUT MASK
    // =======================================================
    HSCore.components.HSMask.init('.js-input-mask')


    // INITIALIZATION OF DROPZONE
    // =======================================================
    HSCore.components.HSDropzone.init('.js-dropzone')


    // INITIALIZATION OF QUILLJS EDITOR
    // =======================================================
    HSCore.components.HSQuill.init('.js-quill')


    // INITIALIZATION OF COUNT CHARACTERS
    // =======================================================
    new HSCountCharacters('.js-count-characters')
  })()
</script>

  <%- include('../../partials/foot') %>