<%- include('../../partials/head') %>
  <%- include('../../partials/navbar_user') %>

    <div class=" content-space-t-2">
      <!-- Breadcrumb -->
      <div class="navbar-dark bg-dark"
        style="background-image: url(/public/assets/svg/components/wave-pattern-light.svg);">
        <div class="container content-space-1 content-space-b-lg-3">
          <div class="row align-items-center">
            <div class="col">
              <div class="d-none d-lg-block">
                <h1 class="h2 text-white">Submit forward</h1>
              </div>

              <!-- Breadcrumb -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light mb-0">
                  <li class="breadcrumb-item active" aria-current="page">
                    <%= user.pkg.shipper %>
                  </li>
                  <li class="breadcrumb-item">
                    <%= user.pkg.carrier %>
                  </li>
                  <li class="breadcrumb-item">
                    <%= user.pkg.tracking %>
                  </li>
                </ol>
              </nav>
              <!-- End Breadcrumb -->
            </div>
            <!-- End Col -->

            <div class="col-auto">


              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                  <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                  <i class="bi-x"></i>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Breadcrumb -->

      <!-- Content -->
      <div class="container content-space-1 content-space-t-lg-0 content-space-b-lg-2 mt-lg-n10">
        <div class="row">
          <div class="col-lg-3">
            <!-- Navbar -->
            <div class="navbar-expand-lg navbar-light">
              <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
                <!-- Card -->
                <div class="card flex-grow-1 mb-5">
                  <div class="card-body">



                    <!-- Nav -->
                    <span class="text-cap">Steps</span>

                    <!-- List -->
                    <ul class="nav nav-sm nav-tabs nav-vertical">
                      <ul id="fwFormProgress" class="js-step-progress step step-icon-xs step-border-last-0">
                        <li class="step-item active focus">
                          <a class="step-content-wrapper" href="#" data-hs-step-form-next-options='{
                          "targetSelector": "#fwFormStepAddress"
                        }'>
                            <span class="step-icon step-icon-soft-dark">1</span>
                            <div class="step-content">
                              <span class="step-title">Address</span>
                              <span class="step-title-description step-text">Specify where to forward</span>
                            </div>
                          </a>
                        </li>

                        <li class="step-item">
                          <a class="step-content-wrapper" 
                            data-hs-step-form-next-options='{
                          "targetSelector": "#fwFormStepShipping"
                        }'>
                            <span class="step-icon step-icon-soft-dark">2</span>
                            <div class="step-content">
                              <span class="step-title">Shipping</span>
                              <span class="step-title-description step-text">Choose shipping service</span>
                            </div>
                          </a>
                        </li>

                        <li class="step-item">
                          <a class="step-content-wrapper" 
                            data-hs-step-form-next-options='{
                          "targetSelector": "#fwFormStepPayment"
                        }'>
                            <span class="step-icon step-icon-soft-dark">3</span>
                            <div class="step-content">
                              <span class="step-title">Payment</span>
                              <span class="step-title-description step-text">Choose your payment method</span>
                            </div>
                          </a>
                        </li>




                        <li class="step-item">
                          <a class="step-content-wrapper" 
                            data-hs-step-form-next-options='{
                          "targetSelector": "#fwFormStepOverview"
                        }'>
                            <span class="step-icon step-icon-soft-dark">4</span>
                            <div class="step-content">
                              <span class="step-title">Overview</span>
                              <span class="step-title-description step-text">Confirm your forward</span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </ul>
                    <!-- End List -->





                  </div>
                </div>
                <!-- End Card -->
              </div>
            </div>
            <!-- End Navbar -->
          </div>
          <!-- End Col -->

          <div class="col-lg-9">
            <div class="d-grid gap-3 gap-lg-5">
              <!-- Card -->

              <form action="/client/inbox/<%= user.pkg._id %>/forward/shipping">
                <div class="card">
                  <div class="card-header border-bottom">
                    <div class="flex-grow-1">
                      <span class="d-lg-none">Step 1 of 4</span>
                      <h3 class="card-header-title">Where do you want your package shipped?</h3>
                    </div>
                  </div>
                  <!-- Body -->
                  <div class="card-body">
                    <div class="row">
                      <% if (user.addresses.length == 0) { %> 
                        <div class="col-sm-6 mb-5 mb-sm-7">
                          <!-- Card -->
                          <a class="card card-dashed card-centered" href="/client/account/addresses">
                            <div class="card-body card-dashed-body py-8">
                              <img class="avatar avatar-lg avatar-4x3 mb-2" src="/public/assets/svg/illustrations/oc-address.svg" alt="Image Description">
                              <span class="d-block"><i class="bi-plus"></i> Add a new address</span>
                            </div>
                          </a>
                          <!-- End Card -->
                        </div>
                      <% } %> 
                      <% let i=0 %>
                        <% for (let a of user.addresses) { %>
                          <% i++; %>
                            <div class="col-sm-6 mb-5 mb-sm-7">
                              <!-- Radio Check -->
                              <div class="form-check form-check-inline w-100 h-100">
                                <input type="radio" id="<%=a._id%>" name="address" class="form-check-input" value="<%= a._id %>">
                                <label class="form-check-label" for="<%=a._id%>">
                                  <span class="h5 d-block">
                                    <%= a.name %>
                                  </span>
                                  <span class="d-block mb-2">
                                    <%= a.street1 %> <br>
                                      <% if (a.street2) { %>
                                        <%= a.street2 %> <br>
                                          <% } %>
                                            <%= a.city %>, <%= a.zip %><br>
                                                <%= a.country %> <img class="avatar avatar-xss avatar-circle me-1"
                                                    src="/public/assets/svg/flags/1x1/<%= a.country %>.svg"
                                                    alt="Great Britain Flag">
                                  </span>
                                </label>
                              </div>
                              <!-- End Radio Check -->
                            </div>
                            <% } %>
                    </div>
                    <!-- End Row -->
                  </div>
                  <!-- End Body -->
                  <!-- Footer -->
                  <div class="card-footer pt-0">
                    <div class="d-flex justify-content-end align-items-center">
                      <button type="submit" class="btn btn-primary one-click" href="/client/inbox/<%= user.pkg._id %>/forward/shipping">
                        Save and continue <i class="bi-chevron-right small ms-1"></i>
                      </button>
                    </div>
                  </div>
                  <!-- End Footer -->
                </div>
              </form>
              <!-- End Card -->




            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Content -->
    </div>

    <%- include('../../partials/foot') %>